$deep-violet: #21092F;
$err-red: #FF5050;

#form {
    position: relative;

    margin-top: 330px;
    padding: 0 6px;
    width: 330px;

    display: flex;
    flex-direction: column;
}

label {
    color: $deep-violet;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

input[type=text] {
    height: 45px;
    border-radius: 8px;

    margin-top: 9px;
    margin-bottom: 20px;
    padding-left: 16px;
}

input[type=submit] {
    height: 53px;
    border-radius: 8px;
    background-color: $deep-violet;
    color: white;
}

.flex-row {
    display: flex;
    flex-direction: row;

    max-width: 100%;

    label {
        width: 50%;
    }
}

#card-exp-mm,
#card-exp-yy {
    width: 25%;
    margin-right: 8px;
}

.err-text {
    position: absolute;
    color: $err-red;
    font-size: 12px;
    
    left: 10px;

    &.name {
        bottom: 247px;
    }

    &.number {
        bottom: 152px;
    }

    &.date {
        bottom: 57px;
    }

    &.cvc {
        bottom: 57px;
        left: 150px;
    }
}

@media only screen and (min-width: 768px) {
    #form {
        margin-top: 550px;
    }
}

@media only screen and (min-width: 1080px) {
    #form {
        position: absolute;
        right: 10%;
        top: 25%;

        margin-top: 0;
        width: 385px;
    }

    .err-text.cvc {
        left: 205px;
    }
}